* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  --bg-dark: #121214;
  --fc-white: #FFFFFF;
  --bg-primary-light: rgba(66, 211, 255, 0.13);
  --primary: rgba(66, 211, 255, 1);
  --bg-button: hsl(240, 9%, 89%)
}

body {
  background: var(--fc-white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'A B';
  align-self: center;
  justify-items: center;
  gap: 19.2rem;
}


button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.timer-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-dark);
  font-size: 12.6rem;
  margin-bottom: 4.8rem;
  border: 1px solid red;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 3.2rem;
  width: 33rem;
  height: clamp(8rem, 2rem + 10vw, 10.8rem);
}

.bg-music-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.bg-music-button {
  background-color: var(--bg-button);
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
}

.hide {
  display: none;
}

footer {
  justify-self: end;
  align-self: end;
  padding: 0 4rem 3.2rem 0;
}